#ignorar todos os diretorios listados abaixo em qualquer subdiretorio
build/
dist/
trash/
ignore/
Desafio*/
#ignorar todos os arquivos por extensao
*Desafio*.txt
*~
*.rar
*.zip
*.o
*.tpl
*.pof
*.sgl
*.tpl
*.err
*.log
*.lp
*.csv
*.xlsx
*.xls
*.prj
*.class
*.pyc
*.swp
/projects/scene/nbproject/private/
/projects/SimPLE/nbproject/private/
/projects/User/nbproject/private/
/projects/winhash/private/
/projects/LP/private/
/modules/controlers/rocket/keyboard/nbproject/private/
/modules/controlers/linear/LP/nbproject/private/
/modules/controlers/linear/RHC/nbproject/private/
/modules/controlers/linear/RLP/nbproject/private/
/modules/controlers/linear/MPC/nbproject/private/
/modules/controlers/linear/Desafio1P1/nbproject/private/
/modules/controlers/challenges/Challenge1/nbproject/private/